<header>
  <div class="logo">
    <a routerLink="/">
      <img src="../../../../assets/wine.png" alt="moments" />
      <h3>Moments</h3>
    </a>
  </div>
  <nav>
    <ul class="menu">
      <li>
        <a routerLink="/">Home</a>
        <div class="line"></div>
      </li>
      <li>
        <a routerLink="moments/new">New moment</a>
        <div class="line"></div>
      </li>
      <li>
        <a routerLink="about">About</a>
        <div class="line"></div>
      </li>
    </ul>
  </nav>
</header>
